html {
  font-size: 1vmax;
  width: 100%;
  height: 100%;
  font-family: "SF Pro", "PingFang SC", "sans-serif";
  font-style: normal;
  font-weight: 400;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
